body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
    background-position: center;
    background-size: cover;
    font-size: 18px;

}

header {
  padding: 2rem 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 3rem;
  text-decoration: underline;
  color: #3F7AAD;

}

header nav {
  display: flex;
  justify-content: flex-end;
}

header a{
  padding: 0 2rem;
  margin: 0;
  font-size: 2rem;
  color: #3F7AAD;
}

.container .link:hover{
  color: #FFBDB1;
  text-decoration: underline;
  transition: all 500ms ease-in;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://previews.123rf.com/images/woottigon/woottigon1507/woottigon150700081/43074127-Work-space-for-photographer-designer-or-hipster-style-Have-a-laptop-film-camera-film-speaker-glasses-Stock-Photo.jpg');
  background-size: cover;
  color: #ffffff;
  height: 72rem;
  min-height: 50rem;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  margin: 0;
}

.jumbotron h2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  font-size: 2.5rem;
  margin: 0 0 2rem;
  color: #fff;
}

.btn{
  color: white;
  background-color: #3F7AAD

}

.container .btn:hover{
  background-color: #2D567A;
  color: white;
  transition: all 200ms ease-in;
}
